# URL Base de la API (ej: http://localhost:8080/carlikeafriend)
VITE_API_BASE_URL=

# Configuración de archivos (5MB = 5242880)
VITE_MAX_PRODUCT_IMAGES=5
VITE_MAX_CATEGORY_IMAGES=1
VITE_MAX_FEATURE_IMAGES=1
VITE_MAX_FILE_SIZE=5242880