 footer {
     background-color: #6a5e9b;
     /* Sombra superior más difuminada */
     box-shadow: 0 -4px 20px rgba(46, 46, 132, 0.1);
     padding: 2.5rem 0;
     /* Un poco más de "aire" vertical */
     margin-top: 3rem;
     /* Asegura separación del contenido superior */
 }

 .social-icons a {
     color: rgba(244, 243, 242, 0.8);
     /* Blanco ligeramente transparente */
     font-size: 1.5rem;
     margin-left: 1.25rem;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.05);
     /* Fondo circular muy sutil */
     transition: all 0.3s ease;
 }

 .social-icons a:hover {
     color: #1f88e6;
     /* Cambiamos a tu azul brillante para llamar a la acción */
     background-color: #ffffff;
     /* Fondo blanco al hacer hover */
     transform: translateY(-3px);
     /* Efecto de elevación */
 }

 .text-copy-right {
     color: rgba(244, 243, 242, 0.7);
     /* Tipografía sutil para el copyright */
     font-weight: 300;
 }

 .footer-logo-img {
     height: 45px;
     width: auto;
     border: none;
 }

 .footer-logo-text {
     font-weight: 800;
     color: #f4f3f2;
     letter-spacing: -0.5px;
 }

 .footer-slogan-text {
     color: #70acde;
     /* Azul claro de tu paleta */
     font-weight: 400;
 }