 /* 1. Sección Welcome */
 .welcome-section-bg {
     background-color: #2e2e84;
 }

 .welcome-overlay {
     background: radial-gradient(circle at top right, #70acde, transparent 60%);
 }

 /* Color de Texto en resultados */
 .title-color {
     color: #2e2e84;
 }

  /* Cambia el color del borde del spinner */
 .spinner-border {
     color: #2e2e84 !important;
 }

 .text-muted-custom {
     color: #6a5e9b !important;
 }
 
 /* Sección Categorías */
 .category-section-bg {
     background-color: rgba(112, 172, 222, 0.15);
 }

 .category-border {
     border-color: #6a5e9b !important;
 }

 .category-card-hover {
     cursor: pointer;
     background-color: #ffffff;
     transition: all 0.3s ease;
 }

 .category-card-hover:hover {
     transform: translateY(-5px);
     box-shadow: 0 10px 20px rgba(46, 46, 132, 0.1) !important;
     background-color: #2e2e84 !important;
 }

 .category-card-hover:hover h6 {
     color: #f4f3f2 !important;
 }

 .category-card-hover:hover .category-icon-wrapper {
     background-color: #ffffff !important;
 }

 .category-icon-wrapper {
     width: 80px;
     height: 80px;
 }

 .card-shadow {
     /*SignUpForm, SignInForm, RegistrationSuccessAndResend*/
     box-shadow: 0 4px 6px rgba(46, 46, 132, 0.8);
 }

 .card-background {
     /*SignUpForm, SignInForm, RegistrationSuccessAndResend*/
     background-color: #f4f3f2;
 }

 

 
